.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
}

.content-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.options-list-item:hover {
    cursor: pointer;
    color: white;
}

