.dice-roll-render-container {
    position: absolute;
    top: 0;
    background-color: pink;
    width: 20rem;
    height: 20rem;
}

.main-dice-face {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 0px;
    height: 0px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dice-face-number {
    margin-top: 2.5rem;
}
