* {
    margin: 0%;
    padding: 0%;
}

li, a {
    all: unset;
}

.body-prop {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D060 0%, #C850C080 46%, #FFCC7050 100%); 
}

.hide-element {
    visibility: hidden;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-flex-container {
    display: flex;
    flex-direction: column;
}

/* ---------- Text Styles ---------- */

.white-text {
    color: rgb(200,200,200);
}

/* ---------- Card Styles ----------*/

.card-class-fighter {
    background-color: #7A544D !important;
}

.card-class-true-tank {
    background-color: #958265 !important;
}

.card-class-assassin {
    background-color: #363535  !important;
}

.card-class-sorcerer {
    background-color: #63435B  !important;
}

.card-class-witch {
    background-color: #4D6852 !important;
}
