@font-face {
    font-family: 'sh-roboto-regular';
    src: url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff');
}

/*@font-face {
    font-family: 'sh-roboto-medium';
    font-style: normal;
    src url('../assets/fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'sh-roboto-medium-italic';
    font-style: italic;
    src url(../assets/fonts/Roboto-MediumItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'sh-roboto-light';
    font-style: normal;
    src url(../assets/fonts/Roboto-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'sh-roboto-light-italic';
    font-style: italic;
    src url(../assets/fonts/Roboto-LightItalic.ttf) format('ttf');
}*/

.roboto-regular {
    font-family: sh-roboto-regular;
}

.roboto-medium {
    font-family: 'sh-roboto-medium';
}

.roboto-medium-italic {
    font-family: 'sh-roboto-medium-italic';
}

.roboto-light {
    font-family: 'sh-roboto-light';
}

.roboto-light-italic {
    font-family: 'sh-roboto-light-italic'
}
